.navbar { 
        display:flex;
        justify-content: space-between;
        padding: 15px;
        font-family: Cambria, serif;
        background-color: rgb(249, 251, 252);
        color: #1b1b1b;
        font-size: 20px;
    }    
    .blink-text {
    transition: color 1s ease;
    }

/* THIS PART makes it blink */
    :target {
    animation: blinkText 0.6s ease-in-out;
     }

@keyframes blinkText {
    0%   { color: black; }
    25%  { color: transparent; }
    50%  { color: rgb(224, 215, 215); }
    75%  { color: transparent; }
    100% { color: black; }
}

    .nav-left{
        font-weight: bold;
        color: black;
    }
    .nav-right a{
        text-decoration:none;
        margin-left: 8px;
        border-radius: 4px;
        font-size: 20px;
    }
    body{
        border: 3px solid Black;
        margin: 20spx;
        color:rgb(234, 242, 243);
        font-size: 20px;
        font-family:cambria, serif;
        padding: 30px;
        background-color: rgb(184, 172, 241);
        justify-content: space-evenly;
        scroll-behavior: smooth;
    }
   div h1{
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    h2{
        color: rgb(43, 12, 72);
        text-align: center;
        background-color: whitesmoke;
    }
    .Skill-set{
    display: flex;
    flex-wrap:wrap; 
    justify-content: center; 
    justify-content: space-evenlyS;
    }
     .skill{
        padding: 12px;
        text-align: center;
        border-radius: 12px;
        transition: transform 0.25 ease, box-shadow 0.25 ease;
     }
    div .skill img{
        display: block;
        border: 2px rgb(68, 5, 68);
        border-radius: 12px;
        margin-top: 20x;
        margin-bottom: 20px;;
        box-shadow: 0 4px 15px rgba(0,0,0,0.5);
        transition: border-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    }
    div.skill:hover{
        transform: translateY(-6px);
    }
    div.skill:hover img{
        border-color: lightskyblue;
        box-shadow: 0 8pz 30px rgba(0,0,0,0.55);
        transform: scale(1.02);
    }
    .button {
        text-align: center;
        background-color: blueviolet;
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 25px;
        border-radius: 10px;
        cursor: pointer;
    }
    .button:hover{
        border-color: lightskyblue;
        border-radius: 10px;
        box-shadow: 0 8pz 30px rgba(0,0,0,0.55);
        transform: scale(1.06);
        background-color: rgb(145, 51, 155);
    }
    .back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(128, 228, 173);
    color: #000;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
    .back-to-top:hover {
    background: #009bcf;
    }
    .about-section {
    display: flex;
    flex-direction: row;
    align-items: center; /* vertically align image & text */
    gap: 350px;          /* space between image and text */
    padding: 28px 20px;
    max-width: 1200px;
    margin-left:150px;
    background-repeat: no-repeat;
    transform: none;
    rotate: 0deg;
    writing-mode: horizantal-tb;
    text-orientation: mixed;;
}
.about-img {
    width: 450px;
    height: auto;
    flex: 0 0 250px;
    object-fit: cover;
    border:rgb(53, 179, 181)solid;
    border-radius: 15px;
    display: block;
}

.about-text {
    color: white;
    max-width: 600px;
    font-size: 18px;
    flex: 1 1 auto;
    line-height: 1.5;
}

     @media only screen and (max-width:768px){
        main.container{
            width: calc(50%-20px);
        }
     @media only screen and (max-width:480px){
        main.container{
            width: calc(1000%-20px);
        }
    }
}
    
     @media only screen and (max-width:768px){
        div.skill{
            width: calc(50%-20px);
        }
     @media only screen and (max-width:480px){
        div.skill{
            width: calc(1000%-20px);
        }
    }
}
